(
{name="Andorra";capital="Andorra la Vella";area="468";population=84000;continent="EU";tld=".ad";currency="Euro";phone="376";},
{name="United Arab Emirates";capital="Abu Dhabi";area="82880";population=4975593;continent="AS";tld=".ae";currency="Dirham";phone="971";},
{name="Afghanistan";capital="Kabul";area="647500";population=29121286;continent="AS";tld=".af";currency="Afghani";phone="93";},
{name="Antigua and Barbuda";capital="St. John's";area="443";population=86754;continent="NA";tld=".ag";currency="Dollar";phone="+1-268";},
{name="Anguilla";capital="The Valley";area="102";population=13254;continent="NA";tld=".ai";currency="Dollar";phone="+1-264";},
{name="Albania";capital="Tirana";area="28748";population=2986952;continent="EU";tld=".al";currency="Lek";phone="355";},
{name="Armenia";capital="Yerevan";area="29800";population=2968000;continent="AS";tld=".am";currency="Dram";phone="374";},
{name="Angola";capital="Luanda";area="1246700";population=13068161;continent="AF";tld=".ao";currency="Kwanza";phone="244";},
{name="Antarctica";capital="";area="1.40E+007";population=0;continent="AN";tld=".aq";currency="";phone="";},
{name="Argentina";capital="Buenos Aires";area="2766890";population=41343201;continent="SA";tld=".ar";currency="Peso";phone="54";},
{name="American Samoa";capital="Pago Pago";area="199";population=57881;continent="OC";tld=".as";currency="Dollar";phone="+1-684";},
{name="Austria";capital="Vienna";area="83858";population=8205000;continent="EU";tld=".at";currency="Euro";phone="43";},
{name="Australia";capital="Canberra";area="7686850";population=21515754;continent="OC";tld=".au";currency="Dollar";phone="61";},
{name="Aruba";capital="Oranjestad";area="193";population=71566;continent="NA";tld=".aw";currency="Guilder";phone="297";},
{name="Aland Islands";capital="Mariehamn";area="";population=26711;continent="EU";tld=".ax";currency="Euro";phone="+358-18";},
{name="Azerbaijan";capital="Baku";area="86600";population=8303512;continent="AS";tld=".az";currency="Manat";phone="994";},
{name="Bosnia and Herzegovina";capital="Sarajevo";area="51129";population=4590000;continent="EU";tld=".ba";currency="Marka";phone="387";},
{name="Barbados";capital="Bridgetown";area="431";population=285653;continent="NA";tld=".bb";currency="Dollar";phone="+1-246";},
{name="Bangladesh";capital="Dhaka";area="144000";population=156118464;continent="AS";tld=".bd";currency="Taka";phone="880";},
{name="Belgium";capital="Brussels";area="30510";population=10403000;continent="EU";tld=".be";currency="Euro";phone="32";},
{name="Burkina Faso";capital="Ouagadougou";area="274200";population=16241811;continent="AF";tld=".bf";currency="Franc";phone="226";},
{name="Bulgaria";capital="Sofia";area="110910";population=7148785;continent="EU";tld=".bg";currency="Lev";phone="359";},
{name="Bahrain";capital="Manama";area="665";population=738004;continent="AS";tld=".bh";currency="Dinar";phone="973";},
{name="Burundi";capital="Bujumbura";area="27830";population=9863117;continent="AF";tld=".bi";currency="Franc";phone="257";},
{name="Benin";capital="Porto-Novo";area="112620";population=9056010;continent="AF";tld=".bj";currency="Franc";phone="229";},
{name="Saint Barthelemy";capital="Gustavia";area="21";population=8450;continent="NA";tld=".gp";currency="Euro";phone="590";},
{name="Bermuda";capital="Hamilton";area="53";population=65365;continent="NA";tld=".bm";currency="Dollar";phone="+1-441";},
{name="Brunei";capital="Bandar Seri Begawan";area="5770";population=395027;continent="AS";tld=".bn";currency="Dollar";phone="673";},
{name="Bolivia";capital="Sucre";area="1098580";population=9947418;continent="SA";tld=".bo";currency="Boliviano";phone="591";},
{name="Bonaire, Saint Eustatius and Saba ";capital="";area="";population=18012;continent="NA";tld=".bq";currency="Dollar";phone="599";},
{name="Brazil";capital="Brasilia";area="8511965";population=201103330;continent="SA";tld=".br";currency="Real";phone="55";},
{name="Bahamas";capital="Nassau";area="13940";population=301790;continent="NA";tld=".bs";currency="Dollar";phone="+1-242";},
{name="Bhutan";capital="Thimphu";area="47000";population=699847;continent="AS";tld=".bt";currency="Ngultrum";phone="975";},
{name="Bouvet Island";capital="";area="";population=0;continent="AN";tld=".bv";currency="Krone";phone="";},
{name="Botswana";capital="Gaborone";area="600370";population=2029307;continent="AF";tld=".bw";currency="Pula";phone="267";},
{name="Belarus";capital="Minsk";area="207600";population=9685000;continent="EU";tld=".by";currency="Ruble";phone="375";},
{name="Belize";capital="Belmopan";area="22966";population=314522;continent="NA";tld=".bz";currency="Dollar";phone="501";},
{name="Canada";capital="Ottawa";area="9984670";population=33679000;continent="NA";tld=".ca";currency="Dollar";phone="1";},
{name="Cocos Islands";capital="West Island";area="14";population=628;continent="AS";tld=".cc";currency="Dollar";phone="61";},
{name="Democratic Republic of the Congo";capital="Kinshasa";area="2345410";population=70916439;continent="AF";tld=".cd";currency="Franc";phone="243";},
{name="Central African Republic";capital="Bangui";area="622984";population=4844927;continent="AF";tld=".cf";currency="Franc";phone="236";},
{name="Republic of the Congo";capital="Brazzaville";area="342000";population=3039126;continent="AF";tld=".cg";currency="Franc";phone="242";},
{name="Switzerland";capital="Berne";area="41290";population=7581000;continent="EU";tld=".ch";currency="Franc";phone="41";},
{name="Ivory Coast";capital="Yamoussoukro";area="322460";population=21058798;continent="AF";tld=".ci";currency="Franc";phone="225";},
{name="Cook Islands";capital="Avarua";area="240";population=21388;continent="OC";tld=".ck";currency="Dollar";phone="682";},
{name="Chile";capital="Santiago";area="756950";population=16746491;continent="SA";tld=".cl";currency="Peso";phone="56";},
{name="Cameroon";capital="Yaounde";area="475440";population=19294149;continent="AF";tld=".cm";currency="Franc";phone="237";},
{name="China";capital="Beijing";area="9596960";population=1330044000;continent="AS";tld=".cn";currency="Yuan Renminbi";phone="86";},
{name="Colombia";capital="Bogota";area="1138910";population=44205293;continent="SA";tld=".co";currency="Peso";phone="57";},
{name="Costa Rica";capital="San Jose";area="51100";population=4516220;continent="NA";tld=".cr";currency="Colon";phone="506";},
{name="Cuba";capital="Havana";area="110860";population=11423000;continent="NA";tld=".cu";currency="Peso";phone="53";},
{name="Cape Verde";capital="Praia";area="4033";population=508659;continent="AF";tld=".cv";currency="Escudo";phone="238";},
{name="Curacao";capital=" Willemstad";area="";population=141766;continent="NA";tld=".cw";currency="Guilder";phone="599";},
{name="Christmas Island";capital="Flying Fish Cove";area="135";population=1500;continent="AS";tld=".cx";currency="Dollar";phone="61";},
{name="Cyprus";capital="Nicosia";area="9250";population=1102677;continent="EU";tld=".cy";currency="Euro";phone="357";},
{name="Czech Republic";capital="Prague";area="78866";population=10476000;continent="EU";tld=".cz";currency="Koruna";phone="420";},
{name="Germany";capital="Berlin";area="357021";population=81802257;continent="EU";tld=".de";currency="Euro";phone="49";},
{name="Djibouti";capital="Djibouti";area="23000";population=740528;continent="AF";tld=".dj";currency="Franc";phone="253";},
{name="Denmark";capital="Copenhagen";area="43094";population=5484000;continent="EU";tld=".dk";currency="Krone";phone="45";},
{name="Dominica";capital="Roseau";area="754";population=72813;continent="NA";tld=".dm";currency="Dollar";phone="+1-767";},
{name="Dominican Republic";capital="Santo Domingo";area="48730";population=9823821;continent="NA";tld=".do";currency="Peso";phone="+1-809 and 1-829";},
{name="Algeria";capital="Algiers";area="2381740";population=34586184;continent="AF";tld=".dz";currency="Dinar";phone="213";},
{name="Ecuador";capital="Quito";area="283560";population=14790608;continent="SA";tld=".ec";currency="Dollar";phone="593";},
{name="Estonia";capital="Tallinn";area="45226";population=1291170;continent="EU";tld=".ee";currency="Euro";phone="372";},
{name="Egypt";capital="Cairo";area="1001450";population=80471869;continent="AF";tld=".eg";currency="Pound";phone="20";},
{name="Western Sahara";capital="El-Aaiun";area="266000";population=273008;continent="AF";tld=".eh";currency="Dirham";phone="212";},
{name="Eritrea";capital="Asmara";area="121320";population=5792984;continent="AF";tld=".er";currency="Nakfa";phone="291";},
{name="Spain";capital="Madrid";area="504782";population=46505963;continent="EU";tld=".es";currency="Euro";phone="34";},
{name="Ethiopia";capital="Addis Ababa";area="1127127";population=88013491;continent="AF";tld=".et";currency="Birr";phone="251";},
{name="Finland";capital="Helsinki";area="337030";population=5244000;continent="EU";tld=".fi";currency="Euro";phone="358";},
{name="Fiji";capital="Suva";area="18270";population=875983;continent="OC";tld=".fj";currency="Dollar";phone="679";},
{name="Falkland Islands";capital="Stanley";area="12173";population=2638;continent="SA";tld=".fk";currency="Pound";phone="500";},
{name="Micronesia";capital="Palikir";area="702";population=107708;continent="OC";tld=".fm";currency="Dollar";phone="691";},
{name="Faroe Islands";capital="Torshavn";area="1399";population=48228;continent="EU";tld=".fo";currency="Krone";phone="298";},
{name="France";capital="Paris";area="547030";population=64768389;continent="EU";tld=".fr";currency="Euro";phone="33";},
{name="Gabon";capital="Libreville";area="267667";population=1545255;continent="AF";tld=".ga";currency="Franc";phone="241";},
{name="United Kingdom";capital="London";area="244820";population=62348447;continent="EU";tld=".uk";currency="Pound";phone="44";},
{name="Grenada";capital="St. George's";area="344";population=107818;continent="NA";tld=".gd";currency="Dollar";phone="+1-473";},
{name="Georgia";capital="Tbilisi";area="69700";population=4630000;continent="AS";tld=".ge";currency="Lari";phone="995";},
{name="French Guiana";capital="Cayenne";area="91000";population=195506;continent="SA";tld=".gf";currency="Euro";phone="594";},
{name="Guernsey";capital="St Peter Port";area="78";population=65228;continent="EU";tld=".gg";currency="Pound";phone="+44-1481";},
{name="Ghana";capital="Accra";area="239460";population=24339838;continent="AF";tld=".gh";currency="Cedi";phone="233";},
{name="Gibraltar";capital="Gibraltar";area="6.5";population=27884;continent="EU";tld=".gi";currency="Pound";phone="350";},
{name="Greenland";capital="Nuuk";area="2166086";population=56375;continent="NA";tld=".gl";currency="Krone";phone="299";},
{name="Gambia";capital="Banjul";area="11300";population=1593256;continent="AF";tld=".gm";currency="Dalasi";phone="220";},
{name="Guinea";capital="Conakry";area="245857";population=10324025;continent="AF";tld=".gn";currency="Franc";phone="224";},
{name="Guadeloupe";capital="Basse-Terre";area="1780";population=443000;continent="NA";tld=".gp";currency="Euro";phone="590";},
{name="Equatorial Guinea";capital="Malabo";area="28051";population=1014999;continent="AF";tld=".gq";currency="Franc";phone="240";},
{name="Greece";capital="Athens";area="131940";population=11000000;continent="EU";tld=".gr";currency="Euro";phone="30";},
{name="South Georgia and the South Sandwich Islands";capital="Grytviken";area="3903";population=30;continent="AN";tld=".gs";currency="Pound";phone="";},
{name="Guatemala";capital="Guatemala City";area="108890";population=13550440;continent="NA";tld=".gt";currency="Quetzal";phone="502";},
{name="Guam";capital="Hagatna";area="549";population=159358;continent="OC";tld=".gu";currency="Dollar";phone="+1-671";},
{name="Guinea-Bissau";capital="Bissau";area="36120";population=1565126;continent="AF";tld=".gw";currency="Franc";phone="245";},
{name="Guyana";capital="Georgetown";area="214970";population=748486;continent="SA";tld=".gy";currency="Dollar";phone="592";},
{name="Hong Kong";capital="Hong Kong";area="1092";population=6898686;continent="AS";tld=".hk";currency="Dollar";phone="852";},
{name="Heard Island and McDonald Islands";capital="";area="412";population=0;continent="AN";tld=".hm";currency="Dollar";phone=" ";},
{name="Honduras";capital="Tegucigalpa";area="112090";population=7989415;continent="NA";tld=".hn";currency="Lempira";phone="504";},
{name="Croatia";capital="Zagreb";area="56542";population=4491000;continent="EU";tld=".hr";currency="Kuna";phone="385";},
{name="Haiti";capital="Port-au-Prince";area="27750";population=9648924;continent="NA";tld=".ht";currency="Gourde";phone="509";},
{name="Hungary";capital="Budapest";area="93030";population=9930000;continent="EU";tld=".hu";currency="Forint";phone="36";},
{name="Indonesia";capital="Jakarta";area="1919440";population=242968342;continent="AS";tld=".id";currency="Rupiah";phone="62";},
{name="Ireland";capital="Dublin";area="70280";population=4622917;continent="EU";tld=".ie";currency="Euro";phone="353";},
{name="Israel";capital="Jerusalem";area="20770";population=7353985;continent="AS";tld=".il";currency="Shekel";phone="972";},
{name="Isle of Man";capital="Douglas, Isle of Man";area="572";population=75049;continent="EU";tld=".im";currency="Pound";phone="+44-1624";},
{name="India";capital="New Delhi";area="3287590";population=1173108018;continent="AS";tld=".in";currency="Rupee";phone="91";},
{name="British Indian Ocean Territory";capital="Diego Garcia";area="60";population=4000;continent="AS";tld=".io";currency="Dollar";phone="246";},
{name="Iraq";capital="Baghdad";area="437072";population=29671605;continent="AS";tld=".iq";currency="Dinar";phone="964";},
{name="Iran";capital="Tehran";area="1648000";population=76923300;continent="AS";tld=".ir";currency="Rial";phone="98";},
{name="Iceland";capital="Reykjavik";area="103000";population=308910;continent="EU";tld=".is";currency="Krona";phone="354";},
{name="Italy";capital="Rome";area="301230";population=60340328;continent="EU";tld=".it";currency="Euro";phone="39";},
{name="Jersey";capital="Saint Helier";area="116";population=90812;continent="EU";tld=".je";currency="Pound";phone="+44-1534";},
{name="Jamaica";capital="Kingston";area="10991";population=2847232;continent="NA";tld=".jm";currency="Dollar";phone="+1-876";},
{name="Jordan";capital="Amman";area="92300";population=6407085;continent="AS";tld=".jo";currency="Dinar";phone="962";},
{name="Japan";capital="Tokyo";area="377835";population=127288000;continent="AS";tld=".jp";currency="Yen";phone="81";},
{name="Kenya";capital="Nairobi";area="582650";population=40046566;continent="AF";tld=".ke";currency="Shilling";phone="254";},
{name="Kyrgyzstan";capital="Bishkek";area="198500";population=5508626;continent="AS";tld=".kg";currency="Som";phone="996";},
{name="Cambodia";capital="Phnom Penh";area="181040";population=14453680;continent="AS";tld=".kh";currency="Riels";phone="855";},
{name="Kiribati";capital="Tarawa";area="811";population=92533;continent="OC";tld=".ki";currency="Dollar";phone="686";},
{name="Comoros";capital="Moroni";area="2170";population=773407;continent="AF";tld=".km";currency="Franc";phone="269";},
{name="Saint Kitts and Nevis";capital="Basseterre";area="261";population=49898;continent="NA";tld=".kn";currency="Dollar";phone="+1-869";},
{name="North Korea";capital="Pyongyang";area="120540";population=22912177;continent="AS";tld=".kp";currency="Won";phone="850";},
{name="South Korea";capital="Seoul";area="98480";population=48422644;continent="AS";tld=".kr";currency="Won";phone="82";},
{name="Kosovo";capital="Pristina";area="";population=1800000;continent="EU";tld="";currency="Euro";phone="";},
{name="Kuwait";capital="Kuwait City";area="17820";population=2789132;continent="AS";tld=".kw";currency="Dinar";phone="965";},
{name="Cayman Islands";capital="George Town";area="262";population=44270;continent="NA";tld=".ky";currency="Dollar";phone="+1-345";},
{name="Kazakhstan";capital="Astana";area="2717300";population=15340000;continent="AS";tld=".kz";currency="Tenge";phone="7";},
{name="Laos";capital="Vientiane";area="236800";population=6368162;continent="AS";tld=".la";currency="Kip";phone="856";},
{name="Lebanon";capital="Beirut";area="10400";population=4125247;continent="AS";tld=".lb";currency="Pound";phone="961";},
{name="Saint Lucia";capital="Castries";area="616";population=160922;continent="NA";tld=".lc";currency="Dollar";phone="+1-758";},
{name="Liechtenstein";capital="Vaduz";area="160";population=35000;continent="EU";tld=".li";currency="Franc";phone="423";},
{name="Sri Lanka";capital="Colombo";area="65610";population=21513990;continent="AS";tld=".lk";currency="Rupee";phone="94";},
{name="Liberia";capital="Monrovia";area="111370";population=3685076;continent="AF";tld=".lr";currency="Dollar";phone="231";},
{name="Lesotho";capital="Maseru";area="30355";population=1919552;continent="AF";tld=".ls";currency="Loti";phone="266";},
{name="Lithuania";capital="Vilnius";area="65200";population=3565000;continent="EU";tld=".lt";currency="Litas";phone="370";},
{name="Luxembourg";capital="Luxembourg";area="2586";population=497538;continent="EU";tld=".lu";currency="Euro";phone="352";},
{name="Latvia";capital="Riga";area="64589";population=2217969;continent="EU";tld=".lv";currency="Lat";phone="371";},
{name="Libya";capital="Tripolis";area="1759540";population=6461454;continent="AF";tld=".ly";currency="Dinar";phone="218";},
{name="Morocco";capital="Rabat";area="446550";population=31627428;continent="AF";tld=".ma";currency="Dirham";phone="212";},
{name="Monaco";capital="Monaco";area="1.95";population=32965;continent="EU";tld=".mc";currency="Euro";phone="377";},
{name="Moldova";capital="Chisinau";area="33843";population=4324000;continent="EU";tld=".md";currency="Leu";phone="373";},
{name="Montenegro";capital="Podgorica";area="14026";population=666730;continent="EU";tld=".me";currency="Euro";phone="382";},
{name="Saint Martin";capital="Marigot";area="53";population=35925;continent="NA";tld=".gp";currency="Euro";phone="590";},
{name="Madagascar";capital="Antananarivo";area="587040";population=21281844;continent="AF";tld=".mg";currency="Ariary";phone="261";},
{name="Marshall Islands";capital="Majuro";area="181.3";population=65859;continent="OC";tld=".mh";currency="Dollar";phone="692";},
{name="Macedonia";capital="Skopje";area="25333";population=2061000;continent="EU";tld=".mk";currency="Denar";phone="389";},
{name="Mali";capital="Bamako";area="1240000";population=13796354;continent="AF";tld=".ml";currency="Franc";phone="223";},
{name="Myanmar";capital="Nay Pyi Taw";area="678500";population=53414374;continent="AS";tld=".mm";currency="Kyat";phone="95";},
{name="Mongolia";capital="Ulan Bator";area="1565000";population=3086918;continent="AS";tld=".mn";currency="Tugrik";phone="976";},
{name="Macao";capital="Macao";area="254";population=449198;continent="AS";tld=".mo";currency="Pataca";phone="853";},
{name="Northern Mariana Islands";capital="Saipan";area="477";population=53883;continent="OC";tld=".mp";currency="Dollar";phone="+1-670";},
{name="Martinique";capital="Fort-de-France";area="1100";population=432900;continent="NA";tld=".mq";currency="Euro";phone="596";},
{name="Mauritania";capital="Nouakchott";area="1030700";population=3205060;continent="AF";tld=".mr";currency="Ouguiya";phone="222";},
{name="Montserrat";capital="Plymouth";area="102";population=9341;continent="NA";tld=".ms";currency="Dollar";phone="+1-664";},
{name="Malta";capital="Valletta";area="316";population=403000;continent="EU";tld=".mt";currency="Euro";phone="356";},
{name="Mauritius";capital="Port Louis";area="2040";population=1294104;continent="AF";tld=".mu";currency="Rupee";phone="230";},
{name="Maldives";capital="Male";area="300";population=395650;continent="AS";tld=".mv";currency="Rufiyaa";phone="960";},
{name="Malawi";capital="Lilongwe";area="118480";population=15447500;continent="AF";tld=".mw";currency="Kwacha";phone="265";},
{name="Mexico";capital="Mexico City";area="1972550";population=112468855;continent="NA";tld=".mx";currency="Peso";phone="52";},
{name="Malaysia";capital="Kuala Lumpur";area="329750";population=28274729;continent="AS";tld=".my";currency="Ringgit";phone="60";},
{name="Mozambique";capital="Maputo";area="801590";population=22061451;continent="AF";tld=".mz";currency="Metical";phone="258";},
{name="Namibia";capital="Windhoek";area="825418";population=2128471;continent="AF";tld=".na";currency="Dollar";phone="264";},
{name="New Caledonia";capital="Noumea";area="19060";population=216494;continent="OC";tld=".nc";currency="Franc";phone="687";},
{name="Niger";capital="Niamey";area="1267000";population=15878271;continent="AF";tld=".ne";currency="Franc";phone="227";},
{name="Norfolk Island";capital="Kingston";area="34.6";population=1828;continent="OC";tld=".nf";currency="Dollar";phone="672";},
{name="Nigeria";capital="Abuja";area="923768";population=154000000;continent="AF";tld=".ng";currency="Naira";phone="234";},
{name="Nicaragua";capital="Managua";area="129494";population=5995928;continent="NA";tld=".ni";currency="Cordoba";phone="505";},
{name="Netherlands";capital="Amsterdam";area="41526";population=16645000;continent="EU";tld=".nl";currency="Euro";phone="31";},
{name="Norway";capital="Oslo";area="324220";population=4985870;continent="EU";tld=".no";currency="Krone";phone="47";},
{name="Nepal";capital="Kathmandu";area="140800";population=28951852;continent="AS";tld=".np";currency="Rupee";phone="977";},
{name="Nauru";capital="Yaren";area="21";population=10065;continent="OC";tld=".nr";currency="Dollar";phone="674";},
{name="Niue";capital="Alofi";area="260";population=2166;continent="OC";tld=".nu";currency="Dollar";phone="683";},
{name="New Zealand";capital="Wellington";area="268680";population=4252277;continent="OC";tld=".nz";currency="Dollar";phone="64";},
{name="Oman";capital="Muscat";area="212460";population=2967717;continent="AS";tld=".om";currency="Rial";phone="968";},
{name="Panama";capital="Panama City";area="78200";population=3410676;continent="NA";tld=".pa";currency="Balboa";phone="507";},
{name="Peru";capital="Lima";area="1285220";population=29907003;continent="SA";tld=".pe";currency="Sol";phone="51";},
{name="French Polynesia";capital="Papeete";area="4167";population=270485;continent="OC";tld=".pf";currency="Franc";phone="689";},
{name="Papua New Guinea";capital="Port Moresby";area="462840";population=6064515;continent="OC";tld=".pg";currency="Kina";phone="675";},
{name="Philippines";capital="Manila";area="300000";population=99900177;continent="AS";tld=".ph";currency="Peso";phone="63";},
{name="Pakistan";capital="Islamabad";area="803940";population=184404791;continent="AS";tld=".pk";currency="Rupee";phone="92";},
{name="Poland";capital="Warsaw";area="312685";population=38500000;continent="EU";tld=".pl";currency="Zloty";phone="48";},
{name="Saint Pierre and Miquelon";capital="Saint-Pierre";area="242";population=7012;continent="NA";tld=".pm";currency="Euro";phone="508";},
{name="Pitcairn";capital="Adamstown";area="47";population=46;continent="OC";tld=".pn";currency="Dollar";phone="870";},
{name="Puerto Rico";capital="San Juan";area="9104";population=3916632;continent="NA";tld=".pr";currency="Dollar";phone="+1-787 and 1-939";},
{name="Palestinian Territory";capital="East Jerusalem";area="5970";population=3800000;continent="AS";tld=".ps";currency="Shekel";phone="970";},
{name="Portugal";capital="Lisbon";area="92391";population=10676000;continent="EU";tld=".pt";currency="Euro";phone="351";},
{name="Palau";capital="Melekeok";area="458";population=19907;continent="OC";tld=".pw";currency="Dollar";phone="680";},
{name="Paraguay";capital="Asuncion";area="406750";population=6375830;continent="SA";tld=".py";currency="Guarani";phone="595";},
{name="Qatar";capital="Doha";area="11437";population=840926;continent="AS";tld=".qa";currency="Rial";phone="974";},
{name="Reunion";capital="Saint-Denis";area="2517";population=776948;continent="AF";tld=".re";currency="Euro";phone="262";},
{name="Romania";capital="Bucharest";area="237500";population=21959278;continent="EU";tld=".ro";currency="Leu";phone="40";},
{name="Serbia";capital="Belgrade";area="88361";population=7344847;continent="EU";tld=".rs";currency="Dinar";phone="381";},
{name="Russia";capital="Moscow";area="1.71E+007";population=140702000;continent="EU";tld=".ru";currency="Ruble";phone="7";},
{name="Rwanda";capital="Kigali";area="26338";population=11055976;continent="AF";tld=".rw";currency="Franc";phone="250";},
{name="Saudi Arabia";capital="Riyadh";area="1960582";population=25731776;continent="AS";tld=".sa";currency="Rial";phone="966";},
{name="Solomon Islands";capital="Honiara";area="28450";population=559198;continent="OC";tld=".sb";currency="Dollar";phone="677";},
{name="Seychelles";capital="Victoria";area="455";population=88340;continent="AF";tld=".sc";currency="Rupee";phone="248";},
{name="Sudan";capital="Khartoum";area="1861484";population=35000000;continent="AF";tld=".sd";currency="Pound";phone="249";},
{name="South Sudan";capital="Juba";area="644329";population=8260490;continent="AF";tld="";currency="Pound";phone="211";},
{name="Sweden";capital="Stockholm";area="449964";population=9045000;continent="EU";tld=".se";currency="Krona";phone="46";},
{name="Singapore";capital="Singapur";area="692.7";population=4701069;continent="AS";tld=".sg";currency="Dollar";phone="65";},
{name="Saint Helena";capital="Jamestown";area="410";population=7460;continent="AF";tld=".sh";currency="Pound";phone="290";},
{name="Slovenia";capital="Ljubljana";area="20273";population=2007000;continent="EU";tld=".si";currency="Euro";phone="386";},
{name="Svalbard and Jan Mayen";capital="Longyearbyen";area="62049";population=2550;continent="EU";tld=".sj";currency="Krone";phone="47";},
{name="Slovakia";capital="Bratislava";area="48845";population=5455000;continent="EU";tld=".sk";currency="Euro";phone="421";},
{name="Sierra Leone";capital="Freetown";area="71740";population=5245695;continent="AF";tld=".sl";currency="Leone";phone="232";},
{name="San Marino";capital="San Marino";area="61.2";population=31477;continent="EU";tld=".sm";currency="Euro";phone="378";},
{name="Senegal";capital="Dakar";area="196190";population=12323252;continent="AF";tld=".sn";currency="Franc";phone="221";},
{name="Somalia";capital="Mogadishu";area="637657";population=10112453;continent="AF";tld=".so";currency="Shilling";phone="252";},
{name="Suriname";capital="Paramaribo";area="163270";population=492829;continent="SA";tld=".sr";currency="Dollar";phone="597";},
{name="Sao Tome and Principe";capital="Sao Tome";area="1001";population=175808;continent="AF";tld=".st";currency="Dobra";phone="239";},
{name="El Salvador";capital="San Salvador";area="21040";population=6052064;continent="NA";tld=".sv";currency="Dollar";phone="503";},
{name="Sint Maarten";capital="Philipsburg";area="";population=37429;continent="NA";tld=".sx";currency="Guilder";phone="599";},
{name="Syria";capital="Damascus";area="185180";population=22198110;continent="AS";tld=".sy";currency="Pound";phone="963";},
{name="Swaziland";capital="Mbabane";area="17363";population=1354051;continent="AF";tld=".sz";currency="Lilangeni";phone="268";},
{name="Turks and Caicos Islands";capital="Cockburn Town";area="430";population=20556;continent="NA";tld=".tc";currency="Dollar";phone="+1-649";},
{name="Chad";capital="N'Djamena";area="1284000";population=10543464;continent="AF";tld=".td";currency="Franc";phone="235";},
{name="French Southern Territories";capital="Port-aux-Francais";area="7829";population=140;continent="AN";tld=".tf";currency="Euro  ";phone="";},
{name="Togo";capital="Lome";area="56785";population=6587239;continent="AF";tld=".tg";currency="Franc";phone="228";},
{name="Thailand";capital="Bangkok";area="514000";population=67089500;continent="AS";tld=".th";currency="Baht";phone="66";},
{name="Tajikistan";capital="Dushanbe";area="143100";population=7487489;continent="AS";tld=".tj";currency="Somoni";phone="992";},
{name="Tokelau";capital="";area="10";population=1466;continent="OC";tld=".tk";currency="Dollar";phone="690";},
{name="East Timor";capital="Dili";area="15007";population=1154625;continent="OC";tld=".tl";currency="Dollar";phone="670";},
{name="Turkmenistan";capital="Ashgabat";area="488100";population=4940916;continent="AS";tld=".tm";currency="Manat";phone="993";},
{name="Tunisia";capital="Tunis";area="163610";population=10589025;continent="AF";tld=".tn";currency="Dinar";phone="216";},
{name="Tonga";capital="Nuku'alofa";area="748";population=122580;continent="OC";tld=".to";currency="Pa'anga";phone="676";},
{name="Turkey";capital="Ankara";area="780580";population=77804122;continent="AS";tld=".tr";currency="Lira";phone="90";},
{name="Trinidad and Tobago";capital="Port of Spain";area="5128";population=1228691;continent="NA";tld=".tt";currency="Dollar";phone="+1-868";},
{name="Tuvalu";capital="Funafuti";area="26";population=10472;continent="OC";tld=".tv";currency="Dollar";phone="688";},
{name="Taiwan";capital="Taipei";area="35980";population=22894384;continent="AS";tld=".tw";currency="Dollar";phone="886";},
{name="Tanzania";capital="Dodoma";area="945087";population=41892895;continent="AF";tld=".tz";currency="Shilling";phone="255";},
{name="Ukraine";capital="Kiev";area="603700";population=45415596;continent="EU";tld=".ua";currency="Hryvnia";phone="380";},
{name="Uganda";capital="Kampala";area="236040";population=33398682;continent="AF";tld=".ug";currency="Shilling";phone="256";},
{name="United States Minor Outlying Islands";capital="";area="0";population=0;continent="OC";tld=".um";currency="Dollar ";phone="1";},
{name="United States";capital="Washington";area="9629091";population=310232863;continent="NA";tld=".us";currency="Dollar";phone="1";},
{name="Uruguay";capital="Montevideo";area="176220";population=3477000;continent="SA";tld=".uy";currency="Peso";phone="598";},
{name="Uzbekistan";capital="Tashkent";area="447400";population=27865738;continent="AS";tld=".uz";currency="Som";phone="998";},
{name="Vatican";capital="Vatican City";area="0.44";population=921;continent="EU";tld=".va";currency="Euro";phone="379";},
{name="Saint Vincent and the Grenadines";capital="Kingstown";area="389";population=104217;continent="NA";tld=".vc";currency="Dollar";phone="+1-784";},
{name="Venezuela";capital="Caracas";area="912050";population=27223228;continent="SA";tld=".ve";currency="Bolivar";phone="58";},
{name="British Virgin Islands";capital="Road Town";area="153";population=21730;continent="NA";tld=".vg";currency="Dollar";phone="+1-284";},
{name="U.S. Virgin Islands";capital="Charlotte Amalie";area="352";population=108708;continent="NA";tld=".vi";currency="Dollar";phone="+1-340";},
{name="Vietnam";capital="Hanoi";area="329560";population=89571130;continent="AS";tld=".vn";currency="Dong";phone="84";},
{name="Vanuatu";capital="Port Vila";area="12200";population=221552;continent="OC";tld=".vu";currency="Vatu";phone="678";},
{name="Wallis and Futuna";capital="Mata Utu";area="274";population=16025;continent="OC";tld=".wf";currency="Franc";phone="681";},
{name="Samoa";capital="Apia";area="2944";population=192001;continent="OC";tld=".ws";currency="Tala";phone="685";},
{name="Yemen";capital="Sanaa";area="527970";population=23495361;continent="AS";tld=".ye";currency="Rial";phone="967";},
{name="Mayotte";capital="Mamoudzou";area="374";population=159042;continent="AF";tld=".yt";currency="Euro";phone="262";},
{name="South Africa";capital="Pretoria";area="1219912";population=49000000;continent="AF";tld=".za";currency="Rand";phone="27";},
{name="Zambia";capital="Lusaka";area="752614";population=13460305;continent="AF";tld=".zm";currency="Kwacha";phone="260";},
{name="Zimbabwe";capital="Harare";area="390580";population=11651858;continent="AF";tld=".zw";currency="Dollar";phone="263";},
{name="Serbia and Montenegro";capital="Belgrade";area="102350";population=10829175;continent="EU";tld=".cs";currency="Dinar";phone="381";},
{name="Netherlands Antilles";capital="Willemstad";area="960";population=136197;continent="NA";tld=".an";currency="Guilder";phone="599";}
)
