:root {
  color-scheme: light dark;
  --title-color: red;
  --subhead-color: green;
  --link-color: blue;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --title-color: #ff8080;
    --subhead-color: #80ff80;
    --link-color: #93d5ff;
  }
}

body {
    font: -apple-system-body;
}

h1 {
    font: -apple-system-headline;
    color: var(--title-color);
}

h2 {
    font: -apple-system-subheadline;
    color: var(--subhead-color);
}

footer {
    font: -apple-system-footnote;
}

a {
    color: var(--link-color);
}

img {
    max-width: 100%;
}
